@tailwind base;
@tailwind components;
@tailwind utilities;


.heading-font {
    font-family: 'PT Sans', sans-serif;
}

.accent-font {
    font-family: 'Maven Pro', serif;
}

.ql-snow {

    border: none !important;
}